@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$blue-text: #0a1e75;
$light-blue: #00c0cd;

a {
	text-decoration: none;
	color: $light-blue;
}

.header-strip {
	background-color: #eaeaea;
	height: 50px;
}

#header {
	height: 50px;
	&:before {
		content: "";
		background: #01a6a0;
		width: 100%;
		height: 4px;
	}
	.search{
		margin-top: 5px;
	}
}

.logo {
	width: 103px;
	height: 140px;
	background: white;
	box-shadow: 0 0 75px 15px rgba(1, 1, 1, 0.2);
}

.uppernav {
	height: 46px;
	line-height: 46px;
	.nav-elements {
		padding: 0 10px 0 0;
		margin-right: 5px;
		color: $blue-text;
		border-right: 1px solid;

		&#login, &#logout {
			border: none;
		}

	}
	&#loginform {
		display: none;
		div {
			float: left;
			margin-right: 10px;
			margin-top: 5px;
		}
	}
}

.carousel {
	.carousel-inner {
		margin-top: 0;
		.item {
			img {
				margin: 0 auto;
				height: 554px;
				overflow: hidden;
			}
		}
	}
}

#work {
	margin: 20px 0;
}

#popular {
	background-color: $light-blue;
	#pophead {
		margin-right: 10px;
	}
	.glyphicon-expand {
		top: 30px;
    	right: 300px;
    	position: absolute;
	}
}

#map {
	margin: 20px 0;
	padding-top: 20px;
	border-top: solid 1px #eaeaea;
	h4 {
		margin-bottom: 2px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin-bottom: 20px;
	}
	#right {
		h4 {
			margin-bottom: 10px;
		}
	}
}

.verticalline {
	border-left: solid 1px #eaeaea;
	position: absolute;
	height: 393px;
	top: -20px;
	left: -50px;
}

html {
  	position: relative;
  	min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  	margin-bottom: 50px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #eaeaea;
	
	.logo {
		position: absolute;
		top: -91px;
	}
	.wrapper {
		height: 50px;
	}

	&:after {
		content: "";
		background: #01a6a0;
		width: 100%;
		height: 4px;
		margin-bottom: 0px;
	}
}


