@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$blue-text: #0a1e75;
$light-blue: #00c0cd;
$border-grey: #eaeaea;
$grey-text: #545353;

.search-overlay {
  border: none;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  color: $grey-text;
}

.results {
  .no-results {
    margin: 10em 0;
  }
}

a {
  text-decoration: none;
  color: $light-blue;
  &:hover {
    text-decoration: none;
  }
}

.table {
  &.bids {
    td {
      &.image {
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 169px;
      }
    }
  }
}

#auctiontable {
  #tablecrop {
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
  }
  img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 300px;
  }
}

.info {
  .side {
    border-left: 1px $border-grey solid;
    padding-left: 25px;
    margin-left: 15px;
  }
}

.detail {
  margin-bottom: 30px;
  .side {
    text-align: right;
    .title {
      border-bottom: 1px solid $border-grey;
    }
    .time {
      margin-top: 1em;
    }
    .bid {
      .buy-now {
        border: none;
        background: transparent;
        color: $light-blue;
        padding: 0;
        text-decoration: underline;
        font-weight: bold;
      }
      p, h3, .buy {
        padding-right: 15px;
      }
      border: solid 1px $border-grey;
      margin-top: 140px;
      #bluebid {
        padding: 20px 15px 20px 0;
        background-color: $light-blue;
        .bid-now {
          background: transparent;
          border: none;
          color: white;
          .glyphicon {
            font-size: 1em;
          }
        }
        #bid {
          margin-right: 20px;
        }

      }
      input {
        width: 40%;
        height: 40px;
      }
    }
  }
  .imagecol {
    height: 500px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.art {
  .filter-wrapper {
    margin-bottom: 2em;
  }

  .filter {
    display: none;
    ul {
      list-style-type: none;
      a {
        color: black;
      }
    }

  }
  .advanced {
    h3 {
      margin: 0;
      cursor: pointer;
    }
  }
  .sort {
    a {
      border-right: 1px solid black;
      color: black;
      padding-right: .4em;
      &:last-child {
        border: none;
      }
    }
  }
  .col-lg-4 {
    padding-left: 30px;
  }
  .artwork {
    background-repeat: no-repeat;
    height: 350px;
    margin-bottom: 78px;
    img {
      width: 100%;
      &:hover {
        -webkit-filter: grayscale(100%);
      }
    }
    h4, p {
      margin: 0 5%;
    }
    .details {
      margin-bottom: 25px;
    }
    .crop {
      height: 240px;
      overflow: hidden;
      margin-bottom: 1em;
    }
    .underline {
      width: 100%;
      margin-left: 0;
      border-bottom: 1px solid $border-grey;
      height: 34px;
      .btn {
        border-radius: 0;
        background-color: $border-grey;
        color: $blue-text;
      }
      div:first-child {
        bottom: -8px;
        left: 15px;
      }
    }
  }
  #portrait {
    background: url('../img/portrait.jpg');
    height: 800px;
    background-size: 150%;
    background-repeat: no-repeat;
    p {
      background: linear-gradient(to top, rgba(217, 235, 235, 1) 0%, rgba(217, 235, 235, 0.8) 70%, rgba(217, 235, 235, 0) 100%);
      padding: 10em 4em 2em;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      z-index: 20;

    }
    .overlay {
      background: #d9ebeb;
      height: 100%;
      width: 100%;
      opacity: .6;
      top: 0;
      left: 0;
      position: absolute;
      padding: 0;
    }
  }

}

.detail {
  img {
    width: 100%;
  }
}

.auction-header {
  line-height: 63px;
}

.new-auction {
  h2 {
    margin-bottom: 1em;
  }
}

.profile {
  h1 {
    margin-bottom: 2em;
  }
  p {
    margin-bottom: 0;
  }
  .auctions {
    h3 {
      margin: 0;
    }
    .bottom {
      .time {
        width: 40%;
        float: left;
        margin-top: 15px;
      }
      .button {
        background-color: $border-grey;
        padding: 1em;
        float: right;
      }
    }
    .image {
      height: 250px;
      background-size: cover;
      cursor: pointer;
      margin-bottom: 1em;
      .after {
        position: absolute;
        top: 0;
        left: 5%;
        width: 287px;
        height: 250px;
        display: none;
        color: #FFF;
        .glyphicon {
          font-size: 50px;
          left: 125px;
          top: 100px;
        }
      }
      &:hover {
        .after {
          display: block;
          background: rgba(0, 0, 0, .5);
        }
      }
    }
  }
  .content {
    border: 1px $border-grey solid;
    padding: .2em 0 .5em 2em;
    width: 100%;
    .upper {
      margin-bottom: 2em;
    }
  }
}

.spotlight {
  background-image: url('../img/caroussel.jpg');
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-position: 0px;
  z-index: -1;
  margin-bottom: 40px;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.spotlight-content {
  position: absolute;
  top: 180px;
  color: white;
  background-color: rgba(1, 32, 166, 0.65);
  .visit {
    background-color: white;
    color: $light-blue;
    width: 100%;
    position: absolute;
    padding: 1em 0 1em 1.4em;
    left: 0;
    h3 {
      float: left;
    }
    .glyphicon {
      margin: 26px 0 0 .5em;
    }
  }
  & > h2 {
    border-bottom: 1px solid $border-grey;
    padding-bottom: .5em;
    padding-left: .2em;
    color: white;
    width: 100%;
    display: inline-block;
  }
  p {
    padding: 1em .5em;
  }
}

.header-strip {
  background-color: $border-grey;
  height: 50px;

  .nav {
    margin-top: 4px;
  }
}

#header {
  height: 50px;
  &:before {
    content: "";
    background: #01a6a0;
    width: 100%;
    height: 4px;
  }
  .search {
    margin-top: 5px;
  }
}

.logo {
  width: 103px;
  height: 140px;
  background: white;
  box-shadow: 0 0 75px 15px rgba(1, 1, 1, 0.2);
  margin-bottom: -44px;
  z-index: 3;
}

.faq-wrapper {
  .questions {
    margin-top: 25px;
    height: 90px;
    padding: 2em;
    border: 1px solid #e5e5e5;
  }
  .faq {
    margin-top: 20px;
    table {
      table-layout: fixed;
      .question {
        .letter {
          width: 50px;
        }
        td > *{
        color: $blue-text;

        }
      }
    }
  }
}

.uppernav {
  height: 46px;
  line-height: 46px;
  .dropdown {
    float: left;
    &:hover > .dropdown-menu {
      display: block;
    }
    .dropdown-menu {
      min-width: 250px;
      padding: 0;
      margin: 0;
      a {
        .glyphicon-remove {
          line-height: 60px;
          color: red;
        }
      }
      .center {
        padding: 1em;
      }
      &:hover {
        display: block;
      }
      .dropdown-item {
        display: block;
        padding: .5em 1em;
        text-align: right;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: -20%;
        width: 75%;
        float: left;
        margin-right: 35px;
      }
    }
  }
  .nav-elements {
    padding: 0 5px 0 0;
    margin-right: 5px;
    color: $blue-text;
    border-right: 1px solid;

    &#login, &#logout {
      border: none;
    }

  }
  &#loginform {
    display: none;
    div {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}

.carousel {
  z-index: -1;
  .carousel-inner {
    margin-top: 0;
    height: 800px;
    .item {
      img {
        margin: 0 auto;
        overflow: hidden;
      }
    }
  }
}

.popular {
  .img {
    .after {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      color: #FFF;
      .icon-small {
        font-size: 50px;
        line-height: 200px;
      }
      .icon-big {
        font-size: 100px;
        line-height: 400px;
      }
    }
    &:hover {
      .after {
        display: block;
        background: rgba(0, 0, 0, .5);
      }
    }
  }
}

.popimg {
  .img {
    background-size: cover;
    background-position: 50%;
    &.img-small {
      height: 200px;
    }
    &.img-big {
      height: 400px;
    }
  }
}

.carousel-content {
  background-color: rgba(1, 32, 166, 0.65);
  color: white;
  padding: 2em 3em;
  position: absolute;
  top: 650px;
}

#work {
  margin: 20px 0;
  h2 {
    margin-bottom: 1em;
  }
}

#popular {
  background-color: $border-grey;
  #pophead {
    margin-right: 10px;
  }
  .glyphicon-expand {
    top: 30px;
    right: 300px;
    position: absolute;
  }
}

#map {
  margin: 20px 0;
  padding-top: 20px;
  border-top: solid 1px $border-grey;
  h4 {
    margin-bottom: 2px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  #right {
    h4 {
      margin-bottom: 10px;
    }
  }
}

.verticalline {
  border-left: solid 1px $border-grey;
  position: absolute;
  height: 393px;
  top: -20px;
  left: -50px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: $border-grey;

  .logo {
    position: absolute;
    top: -91px;
  }
  .wrapper {
    height: 50px;
  }

  &:after {
    content: "";
    background: #01a6a0;
    width: 100%;
    height: 4px;
    margin-bottom: 0px;
  }
}

.watchlist {
  margin: .5em 0;
  text-align: center;
  img {
    height: 14px;
    width: 14px;
  }
  a {
    font-weight: bold;
    color: #0a1e75;
    text-decoration: underline;
    padding-left: .5em;
  }
}


